/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
*.ninja
\.ninja_*
tests/**/*.out
Testing
/ptx/kernels.ptx
/ptx/kernels.ptx.gz

libenoki-jit.so
libenoki-jit.dylib
enoki-jit.dll
tests/test_01_cuda_basics
