[submodule "ext/robin_map"]
	path = ext/robin_map
	url = https://github.com/Tessil/robin-map

[submodule "ext/drjit-thread"]
	path = ext/drjit-thread
	url = https://github.com/mitsuba-renderer/drjit-thread
