/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
*.ninja
\.ninja_*
tests/**/*.out
tests/**/*.raw
Testing
/kernels/kernels_*.ptx
/kernels/generate
build
.vscode
*.vcxproj
*.vcxproj.filters
enoki-jit.sln
enoki-jit.dir
Release
Debug

libenoki-jit.so
libenoki-jit.dylib
enoki-jit.dll
libenoki-thread.so
libenoki-thread.dylib
enoki-thread.dll
tests/out_*
tests/test_basics
tests/test_reductions
tests/test_vcall
tests/test_graphviz
tests/test_loop
tests/test_mem
tests/triangle
