/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
*.ninja
\.ninja_*
tests/**/*.out
tests/**/*.raw
Testing
/ptx/kernels.ptx
/ptx/generate

libenoki-jit.so
libenoki-jit.dylib
enoki-jit.dll
tests/test_basics
tests/test_scan
tests/test_reductions
